extends /event/2022/assets/common/pug/_Layout

block page_stylesheet
  link(rel="stylesheet", href="/event/2022/assets/stage/css/style.css")

block main
  #app

block page_script_beforeBodyEnd
  script(src='/event/2022/assets/stage/js/bundle.js')