block finalistsBlock
  -
    var finalistsState = {
      games: {
        ja: [
          {
            area: 'region1',
            isShow: 'is-show',
            title: 'Region 1',
            winner:
            [
              {
                name: 'Team name 1',
                teamID: 'team1',
                block: 'Block A',
                finalTier: 'Winner'
              },
              {
                name: 'Team name 2',
                teamID: 'team2',
                block: 'Block B',
                finalTier: 'Best 8'
              }
            ]
          },
          {
            area: 'region2',
            isShow: 'is-show',
            title: 'Region 2',
            winner:
            [
              {
                name: 'Team name 1',
                teamID: 'team3',
                block: '',
                finalTier: 'Second place'
              }
            ]
          },
          {
            area: 'region3',
            isShow: 'is-show',
            title: 'Region 3',
            winner:
            [
              {
                name: 'Team name 1',
                teamID: 'team4',
                block: '',
                finalTier: 'Best 8'
              }
            ]
          },
          {
            area: 'region4',
            isShow: 'is-show',
            title: 'Region 4',
            winner:
            [
              {
                name: 'Team name 1',
                teamID: 'team5',
                block: '',
                finalTier: 'Best 8'
              }
            ]
          },
          {
            area: 'region5',
            isShow: 'is-show',
            title: 'Region 5',
            winner:
            [
              {
                name: 'Team name 1',
                teamID: 'team6',
                block: 'Block A',
                finalTier: 'Third place'
              },
              {
                name: 'Team name 2',
                teamID: 'team7',
                block: 'Block B',
                finalTier: 'Best 8'
              }
            ]
          },
          {
            area: 'region6',
            isShow: 'is-show',
            title: 'Region 6',
            winner:
            [
              {
                name: 'Team name 1',
                teamID: 'team8',
                block: '',
                finalTier: 'Third place'
              }
            ]
          }
        ]
      }
    }
