-
  if (website === undefined) {
    var website = "ja";
  }
  const TIME_STAMP = "202210";
  const DOMAIN_NAME = "test.com";
  const WEBSITE_URL = `https://${DOMAIN_NAME}`;

  const gState = {
    updateTimeStamp: TIME_STAMP,
    websiteUrl: WEBSITE_URL,
    websiteDomain: DOMAIN_NAME,
    websiteDir: {
      ja: "/event/2021/"
    },
    keywords: {
      ja: "dummy,dummy,dummy"
    },
    description: {
      ja: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, quam iusto explicabo sit aliquid vitae voluptas neque, harum illum libero magni necessitatibus! Accusamus placeat ipsam eos inventore nesciunt vero porro!"
    },
    title: {
      ja: "Lorem, ipsum dolor."
    },
    apptitle: {
      ja: "Lorem, ipsum."
    },
    ogSiteName: {
      ja: "Lorem ipsum dolor sit amet."
    },
    ogurl: {
      ja: `${WEBSITE_URL}/event/2021/`
    },
    ogImage: {
      ja: `${WEBSITE_URL}/event/2021/assets/common/img/ogp.png?2021`
    },
    share: {
      text: {
        ja: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae autem eos voluptatibus nostrum, officia error maxime nam earum unde facilis repellat amet voluptatem ipsa voluptatum velit ipsum temporibus mollitia quisquam!\n\n#keyword #keyword\n"
      },
      url: {
        facebook: {
          ja: "https://test.com/"
        },
        twitter: {
          ja: "https://test.com/"
        },
        line: {
          ja: "https://test.com/"
        }
      }
    }
  }
