block regionalsBlock
  -
    var regionalsState = {
      tournament_stage: {
        ja: [
          {
            title: 'Region 1',
            isShow: 'is-show',
            id: 'region1',
            winnerA: 'Team name 1',
            winnerApic: '/event/2021/assets/finalists/teamdata/team1/img/team.png',
            winnerB: 'Team name 2',
            winnerBpic: '/event/2021/assets/finalists/teamdata/team2/img/team.png',
            tournamentImg: '/event/2021/assets/regionals/img/tournament.png',
            qualified: 5,
            displayed: 8,
            stageName1: 'Stage name 1',
            stageName2: 'Stage name 2',
            results: 'is-show',
            ytURL: '',
            replaceText: '',
            replacePic: '',
            stageid: '520012,520010',
            replaceNamePic: '',
            textForUpdate: ''
          },
          {
            title: 'Region 2',
            isShow: 'is-show',
            id: 'region2',
            winnerA: 'Team name 1',
            winnerApic: '/event/2021/assets/finalists/teamdata/team3/img/team.png',
            winnerB: '',
            winnerBpic: '',
            tournamentImg: '/event/2021/assets/regionals/img/tournament.png',
            qualified: 8,
            displayed: 10,
            stageName1: 'Stage name 1',
            stageName2: 'Stage name 2',
            results: 'is-show',
            ytURL: '',
            replaceText: '',
            replacePic: '',
            stageid: '520011,520010',
            replaceNamePic: '',
            textForUpdate: ''
          },
          {
            title: 'Region 3',
            isShow: 'is-show',
            id: 'region3',
            winnerA: 'Team name 1',
            winnerApic: '/event/2021/assets/finalists/teamdata/team4/img/team.png',
            winnerB: '',
            winnerBpic: '',
            tournamentImg: '',
            qualified: 8,
            displayed: 10,
            stageName1: 'Stage name 1',
            stageName2: 'Stage name 2',
            results: 'is-show',
            ytURL: '',
            replaceText: '',
            replacePic: '',
            stageid: '520011,520010',
            replaceNamePic: '',
            textForUpdate: ''
          },
          {
            title: 'Region 4',
            isShow: 'is-show',
            id: 'region4',
            winnerA: 'Team name 1',
            winnerApic: '/event/2021/assets/finalists/teamdata/team5/img/team.png',
            winnerB: '',
            winnerBpic: '',
            tournamentImg: '',
            qualified: 8,
            displayed: 10,
            stageName1: 'Stage name 1',
            stageName2: 'Stage name 2',
            results: '',
            ytURL: '',
            replaceText: '',
            replacePic: '',
            stageid: '',
            replaceNamePic: '',
            textForUpdate: ''
          },
          {
            title: 'Region 5',
            isShow: 'is-show',
            id: 'region5',
            winnerA: 'Team name 1',
            winnerApic: '/event/2021/assets/finalists/teamdata/team6/img/team.png',
            winnerB: '',
            winnerBpic: '',
            tournamentImg: '',
            qualified: 8,
            displayed: 10,
            stageName1: 'Stage name 1',
            stageName2: 'Stage name 2',
            results: '',
            ytURL: '',
            replaceText: '',
            replacePic: '',
            stageid: '',
            replaceNamePic: '',
            textForUpdate: ''
          },
          {
            title: 'Region 6',
            isShow: 'is-show',
            id: 'region6',
            winnerA: 'Team name 1',
            winnerApic: '/event/2021/assets/finalists/teamdata/team7/img/team.png',
            winnerB: 'Team name 2',
            winnerBpic: '/event/2021/assets/finalists/teamdata/team8/img/team.png',
            tournamentImg: '',
            qualified: 8,
            displayed: 10,
            stageName1: 'Stage name 1',
            stageName2: 'Stage name 2',
            results: '',
            ytURL: '',
            replaceText: '',
            replacePic: '',
            stageid: '',
            replaceNamePic: '',
            textForUpdate: ''
          }
        ]
      }
    }
