@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    margin: 0px auto;
    position: relative;
}

div.instruction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    color: #fff;
    user-select: none;
    white-space: nowrap;
    width: fit-content;
    background: rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 8px;
}

div.instruction span{
    font-size: 18px;
}