@import './_variables.scss';

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: $contentsW;
  margin: 0 auto 20px;

  a:not(:last-of-type) {
    line-height: 1;
    margin-right: 20px;
  }
}